$width : 100%;


html { 
 position:relative; 
 min-height:100%;
}

body{
    margin: 0px;
    padding: 0px;
    line-height: 22px;
    font-family: 'PT Serif', serif;
    font-size: 14px;
}

a{
    color: #767676;
}

.header{
    
    
    height: 150px;
    background-color: #DCDCDC;
    display: flex;
    align-items: center;
    
    
    .header_main-block{
        height: 70px;
        position: relative;
        width: $width;
        display: flex;
        margin: 10px;
        justify-content: space-between;
        align-items: flex-end;
        padding: 0px 100px 0px 100px;
        
        .main-block_fisrt{
            display: flex;
            
            .company_name{
                width: 200px;
                height: 70px;
            }
            
            .company-tag{
                display:flex;
                flex-direction: column;
                justify-content: center;
                color: #696969;
                
                .company-tag_title{
                    line-height: 15px;
                    font-weight: 800;
                    font-size: 17px;
                }
                
                .company-tag_defis{
                    font-size: 9px;
                    margin-top: 10px;
                }
            }
            
            .rectangle{
                margin-right: 5px;
                height: 70px;
                width: 70px;
                background-color: #696969;
            }
        }
        
        .main-block_second{
            position: absolute;
            right: 100px;
            color: #767676;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            
            .back-connection{
                font-weight: 800;
                text-align: right;
                width: 104px;
                border-bottom: 2px dotted #767676;
                line-height: normal;
            }
            
            .company_number{   
              font-family: 'robotolight';    
              font-weight: normal;
              line-height: 30px;
              font-size: 23px;  
            }
        }
    }
}

.menu{
    font-family: 'Roboto', sans-serif;
    display: flex;
    height: 45px;
    width: $width;
    background-color: #777777;
    justify-content: center;
    color: #FFFFFF;
    
    .menu_list{
        list-style: none;
        
        .menu_list_item{
            display: inline-block;
            margin: 0px 20px 0px 0px;
            padding: 0px 20px 0px 0px;
            border-right: 2px solid beige;
        }
        
        .menu_list_item:nth-last-child(1){
            border: 0;
        }
    }
}

.slider{
    
    .slider_image1{ 
    background-color: #F8F8F8;    
    overflow: hidden;    
    height: 340px; 
    width: $width;   
    background: url(../img/ball1.png) center;
    background-repeat: no-repeat; 
    background-image: url(../img/ball1.png) center;



    }
    
    .slider_image2{
    background-color: #F8F8F8;
    overflow: hidden;    
    height: 340px; 
    width: $width;   
    background: url(../img/ball2.png) center;
    background-repeat: no-repeat;  
    }

}

.catalog{
       
        display: flex;
        margin: 0px;
        justify-content: center;
        padding: 0px 0px 0px 100px;
    
     .leftblock{
        display: flex;
        flex-direction: column;
         
         
         .catalog_pricelist{
             margin-top: 20px;
             display: flex;
             justify-content: center;
             
             .pricelist_icon{
                 width: 60px;
                 height: 60px;
             }
             
             .pricelist_icon_text{
                 width: 100px;
                 height: 20px;
             }
         }
         
       
        .catalog_list{
          list-style: none;
          padding: 0px;
            
            .catalog_underlist1{
                font-size: 10px;
                list-style:disc;
                display: none;
            }
            
            .catalog_underlist2{
                font-size: 10px;
                list-style:disc;
                display: none;
            }
            
            .catalog_underlist3{
                font-size: 10px;
                list-style:disc;
                display: none;
            }
            
            .catalog_underlist4{
                font-size: 10px;
                list-style:disc;
                display: none;
            }
            
            .catalog_underlist5{
                font-size: 10px;
                list-style:disc;
                display: none;
            }
            
            .catalog_underlist6{
                font-size: 10px;
                list-style:disc;
                display: none;
            }
            
            .catalog_list_item{
                width: 150px;
                font-size: 12px;
                color: darkgrey;
            }
            
            .catalog_list_item:hover{
                text-decoration: underline;
            }

        } 
     }
    
    .centerblock{
        width: $width;
        padding-right: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .centerblock_numberblock{
            padding: 10px 0px;
            font-size: 10px;
            display: flex;
            
            .numberblock_item{
                margin: 4px;
                
            }
            
            .numberblock_item:nth-child(3){
                transform: scale(1.4);
            }
        }
        
        .centerblock_textblock{
            color: #777777;
            flex-wrap: wrap;
            border-top: 1px solid gray;
            display: flex;
            font-size: 10px;
            justify-content: center;
            margin-bottom: 70px;
            
            .textblock_item{
                width: 250px;
                padding: 10px 10px 0px 0px;
            }
        }
        
        .centerblock_main{
            display: flex;
            flex-wrap: wrap;
            
            .centerblock_item{
                height: 300px;
                width: 200px;
                background-color: #DCDCDC;
                margin: 5px 5px 5px 5px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                
                .item_gift{
                  
                     .gift{
                        width: 180px;
                        margin: 15px 10px 2px 10px; 
                      }
                    .item_gift_text{
                        font-size: 12px;
                        width: 180px;
                        margin: 0px 10px 5px 10px; 
                    }
                }
                
                .item_text{
                    width: 170px;
                    margin: 20px 10px; 
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    
                    .item_text_price{
                       
                       width: 70px;
                       font-size: 16px;
                       font-weight: 800;
                    }
                    
                    .item_text_icon{ 
                        width: auto;
                        
                        .bucket{
                            
                        }
                    }
                }
            }
        }
    }
}

.footer{
    position: absolute;
    bottom: -125px;
    
    font-size: 12px;
    color: #FFFFFF;
    height: 175px;
    display: flex;
    width: $width;
    background-color: #767676;
    display: flex;
    align-items: center;
    
    .footer_main-block{
        margin: 0px 10px;
        width: $width;
        display: flex;
        
        justify-content: space-between;
        align-items: flex-start;
        padding: 0px 100px 0px 100px;
        
        .footer_main-block_first{
            width: 175px;
        }
        
        .footer_main-block_second{
            
            .footer_list{
                list-style: none;
                margin: 0px 0px 0px -100px;
                padding: 0px;
                
                .footer_list_item{
                    text-decoration: underline;
                }
            }
        }
        
        .footer_main-block_thid{
            display: flex;
            align-items: center;
            
            .footer_main-block_thid_imageblock{
                display: flex;
                align-items: flex-end;
                margin-right: 5px;
                
                .imageblock_image{
                    width: 30px;
                        
                }
            }
            
            .footer_main-block_thid_text{
               width: 150px; 
            }  
        }
    }
}


#modal_form {
    width: 300px; 
    height: 400px;
    border-radius: 5px;
    border: 3px #000 solid;
    background: #fff;
    position: fixed;
    top: 45%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
    display: none;
    opacity: 0;
    z-index: 5;
    padding: 20px 10px;
    
    .modal_form{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    .modal{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5px 0px;
        
        .modal_input{
            width: 200px;
        }
        
        .modal_message{
            height: 125px;
        }   
    }
    
     .modal_button{
        background-color: #767676;
         color: white;
         padding: 5px 10px;
         border: 0px;
        }
    }
}
 
#modal_form #modal_close {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: block;
    
    .modal_close_image{
        width: 20px;
    }
}
 
#overlay {
    z-index:3;
    position:fixed;
    background-color:#000;
    opacity:0.8;
    -moz-opacity:0.8;
    filter:alpha(opacity=80);
    width:100%; 
    height:100%;
    top:0;
    left:0;
    cursor:pointer;
    display:none;
}